.grid-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    margin: 20px;
}
.nota-item {
    min-width: 200px;
    min-height: 200px;
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
  }
  
  .nota-item:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
  }

  .deleteButton{
    background-color: rgb(246, 12, 12);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .deleteButton:hover {
    background-color: rgb(197, 22, 22);

  }
 

  